ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

li {
    border: 3px solid blue;
    flex-basis: 10%;
    text-align: center;
    background-color: yellow;
}

nav a {
    font-weight: bold;
    font-size: 1.5rem;
    color: green;
    text-decoration: none;
    display: block;
    padding: 0.4rem;
}

nav a:hover {
    background-color: white;
    color: red;
}

* {
    outline: 1px solid red !important;
    justify-content: ;
}