img {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
}

.image_container {
    display: flex;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}